*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box1{
    background-color: #1f2937;
    padding: 10px;
    
   
}

.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box2{
    background-color: #1f2937;;
    padding: 70px;
    
}

button{
    padding: 5px;
    margin: 15px 15px 0px 0px;
    color: #fff;
    background-color: #3382f6;
    
}

.box3{
    text-align: center;
   
}


.box33{
   background-color: #fff;
   display: flex;
   justify-content: space-around;
   padding: 80px;
   


}

.sub31{
    display: flex;
    border: 5px solid #3382f6;
    width: 100px;
    height: 100px;
    background: #fff;
}


.sub32{
    display: flex;
    border: 5px solid #3382f6;
    width: 100px;
    height: 100px;
    background: #fff;
}

.sub33{
    display: flex;
    border: 5px solid #3382f6;
    width: 100px;
    height: 100px;
    background: #fff;
}

.sub34{
    display: flex;
    border: 5px solid #3382f6;
    width: 100px;
    height: 100px;
    background: #fff;
}

.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    background-color: #e5e7eb;
    font-family: italic;
    font-size: 36px bold;
}

.box5{
   display: flex;
   background-color: #fff;
   padding: 150px;

}

.sub51{
    display: flex;
    border:5px solid #3382f6;
    background-color: #3382f6;
    color: #fff;
    font: 22px bold;
    width: 2048px;
    height: 128px;

    justify-content: space-around;
    align-items: center;
    align-content: center;
    

}

.sub51 > p{
    
    flex-direction: column;
}

.box6{
    display: flex;
    background-color: #1f2937;
    color: #fff;
    padding: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
}